<div class="row jumbotron">
    <div class="col-md-3">
        <input type="text" id="first-name" placeholder="First Name" class="form-control" />
    </div>
    <div class="col-md-3">
        <input type="text" id="last-name" placeholder="Last Name" class="form-control" />
    </div>
    <div class="col-md-3">
        <input type="text" id="age" placeholder="Age" class="form-control" />
    </div>

    <div class="col-md-3">
        <button class="btn btn-primary btn-block" id="add-person">Add Person</button>
    </div>
</div>

<div class="row">
    <table id="people-table" class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit <span id="person-name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" id="first-name-modal" placeholder="First Name" type="text">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" id="last-name-modal" placeholder="Last Name" type="text">
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input class="form-control" id="age-modal" placeholder="Age" type="text">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="save" name="commit">Save</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts {
    <script src="/js/people.js"></script>
}